.board-screen{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
min-height:100vh;
gap:15px;
}

.board{
width:500px;
height:500px;
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr 1fr;
position:relative;
border:5px solid white;
}

.home{
border:2px solid white;
position:relative;
}

.red{
background:#ff4444;
}

.green{
background:#44cc44;
}

.yellow{
background:#ffdd33;
}

.blue{
background:#3399ff;
}

.center-star{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:50px;
background:white;
padding:12px;
border-radius:50%;
z-index:20;
}

.token{
width:28px;
height:28px;
border-radius:50%;
border:2px solid white;
position:absolute;
z-index:30;
cursor:pointer;
}

/* RED */

.r1{background:red; top:40px; left:40px;}
.r2{background:red; top:40px; left:110px;}
.r3{background:red; top:110px; left:40px;}
.r4{background:red; top:110px; left:110px;}

/* GREEN */

.g1{background:green; top:40px; right:40px;}
.g2{background:green; top:40px; right:110px;}
.g3{background:green; top:110px; right:40px;}
.g4{background:green; top:110px; right:110px;}

/* YELLOW */

.y1{background:yellow; bottom:40px; left:40px;}
.y2{background:yellow; bottom:40px; left:110px;}
.y3{background:yellow; bottom:110px; left:40px;}
.y4{background:yellow; bottom:110px; left:110px;}

/* BLUE */

.b1{background:blue; bottom:40px; right:40px;}
.b2{background:blue; bottom:40px; right:110px;}
.b3{background:blue; bottom:110px; right:40px;}
.b4{background:blue; bottom:110px; right:110px;}

.track{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
z-index:10;
}

.track-cell{
width:24px;
height:24px;
background:white;
border:1px solid #999;
position:absolute;
}
