.menu-screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:15px;
}

.menu-screen h1{
font-size:50px;
color:gold;
margin-bottom:20px;
}

.menu-btn{
width:220px;
padding:15px;
border:none;
border-radius:12px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}
